<table class="table table-striped">
    <tr>
        <th class="col-xs-3">
            Title
        </th>
        <th class="col-xs-3">
            Publisher(s)
        </th>
        <th class="col-xs-2">
            Checkouts
        </th>
        <th class="col-xs-2">
            Copies During Show
        </th>
        <th class="col-xs-2">
            Checkouts Per Copy
        </th>
    </tr>
    <% @event.checkouts_by_title.each_with_index do |s_row, index| %>
        <tr data-event-id="<%= index %>">
            <td class="col-xs-3">
                <%= s_row['title'] %>
            </td>
            <td class="col-xs-3">
                <%= s_row['publisher'] %>
            </td>
            <td class="col-xs-2">
                <%= s_row['checkouts'] %>
            </td>
            <td class="col-xs-2">
                <%= s_row['copies_during_show'] %>
            </td>
            <td class="col-xs-1">
                <%= s_row['checkouts_per_copy'] %>
            </td>
        </tr>
    <% end %>
</table>