<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10" style="text-align:center;">

        <%= render 'link', path: setup_path, text: 'Setup', glyph: 'open' %>
        <%= render 'link', path: teardown_path, text: 'Teardown', glyph: 'save' %>
        <%= render 'link', path: purge_path, text: 'Games to Purge', glyph: 'list-alt' %>
        <hr/>
        <%= render 'link', path: new_game_path, text: 'New Game', glyph: 'floppy-saved' %>
        <%= render 'link', path: cull_path, text: 'Cull Game', glyph: 'floppy-remove' %>
        <%= render 'link', path: tournament_path, text: 'Tournament Games', glyph: 'edit' %>
        <hr/>
        <p>
            <span class="glyphicon glyphicon-alert" style="color: #777;"></span>
            Please do not use the below pages unless you are a manager.
            <span class="glyphicon glyphicon-alert" style="color: #777;"></span>
        </p>
        <%= render 'link', path: metrics_path(event: Event.current), text: 'Post Show Metrics', glyph: 'stats' %>
        <%= render 'link', path: events_path, text: 'Events', glyph: 'tasks' %>
        <%= render 'link', path: backup_path, text: 'Backup to Cloud', glyph: 'cloud' %>
        <%= render 'link', path: titles_path, text: 'Edit Titles', glyph: 'edit' %>
        <%= render 'link', path: publishers_path, text: 'Edit Publishers', glyph: 'edit' %>
        <%= render 'link', path: reports_path, text: 'Database Reports', glyph: 'floppy-save' %>

    </div>
    <div class="col-xs-1"></div>
</div>