<% content_for :title, "Loans for #{@group.name}" %>

<div class="row">
    <div class="col-xs-12">
        <%= link_to 'Loaner Groups', loaners_path %>
        &gt;
        Loan games to group "<%= @group.name %>"
    </div>
</div>

<div class="row"><br/></div>

<div class="row" id="l-row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 glyphicon-custom-left">
        <input type="text" id="l-barcode" class="form-control" placeholder="Enter GAME barcode to loan or return game to <%= @group.name %>." autofocus />
        <span class="glyphicon glyphicon-tower form-control-feedback"></span>
        <div id="loans-container-container">
            <div id="loans-container" class="panel-group" style="padding: 15px 15px;" role="tablist" aria-multiselectable="true">
                <% @loans_by_title_id.each do |title_id, loans| %>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#<%= title_id %>" aria-expanded="true" aria-controls="collapseOne">
                                    <%= "#{loans.first.name} (#{pluralize(loans.length, 'copy')})" %>
                                </a>
                            </h4>
                        </div>
                        <div id="<%= title_id %>" class="panel-collapse collapse <%= loans.length > 1 ? '' : 'in' %>" role="tabpanel" aria-labelledby="headingOne">
                            <div class="list-group">
                                <% loans.each do |loan| %>
                                    <div class="list-group-item">
                                        <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                            <p class="col-xs-8">
                                                <%= "#{loan.barcode} @ #{ct(loan.check_out_time).strftime('%m/%d %I:%M%P')}" %>
                                            </p>
                                            <input type="button" data-game-barcode="<%= loan.barcode %>" class="btn btn-danger col-xs-4 return-loaner-btn" value="Return Game" />
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-2"></div>
</div>

<script>
    $(document).ready(function(){
        $('#l-barcode').change(function(){
            var gBarcode = $(this).val();

            if(!bc_regex.test(gBarcode)){
                $.notify('Invalid barcode format! Barcode should be at least 7 characters long and only contain alphanumeric characters.', 'warning', 5000);
                $(this).val('');
                return;
            }

            loanOrReturnGame(gBarcode);
        });

        $('#loans-container-container').delegate('.return-loaner-btn', 'click', function(){
            loanOrReturnGame($(this).data('game-barcode'));
        });

        function loanOrReturnGame(barcode){
            $.post('/loan', { game_barcode: barcode, group_id: '<%= @group.id %>' }).success(function(response){
                if(response.error){
                    $.notify(response.message, 'danger');
                } else {
                    if (response && response.message){
                        $.notify(response.message);
                    }

                    var reduceFunc = function(obj, element) {
                      if (element.classList.contains("in")) {
                        obj["#" + element.id] = true;
                      }
                      return obj;
                    };

                    var mapFunc = function(element) {
                        return element.id;
                    }

                    var openSelector = Object.keys($(".panel-collapse").get().reduce(reduceFunc, {})).join(",");
                    var order = "";

                    if (response.removed) {
                        order = "?order=" + $(".panel-collapse").get().map(mapFunc).join(",");
                    }
                    
                    $("#loans-container-container").load(window.location.href + order + " #loans-container", function() {
                        $(openSelector).addClass('in');
                    });
                }
            }).error(function(){
                $.notify(DEFAULT_ERROR, 'danger');
            }).complete(function(){
                $('#l-barcode').val('');
            });
        }
    });
</script>