<div class="row"><br/></div>

<div class="row">
    <div class="col-xs-6">
        <% unless @search.blank? %>
            <div>
                <span>
                    <%= @search %>
                </span>
                <a href="<%= games_path %>" class="glyphicon glyphicon-remove"></a>
            </div>
        <% end %>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="row"><br/></div>

<table class="table table-striped">
    <tr>
        <th class="col-xs-1">
            Barcode
        </th>
        <th class="col-xs-3">
            Title
        </th>
        <th class="col-xs-3">
            Publisher
        </th>
        <th class="col-xs-2" style="text-align: center;">
            Tourney Viable?
        </th>
        <th class="col-xs-2" style="text-align: center;">
            Checked Out?
        </th>
        <th class="col-xs-1" style="text-align: center;">
            Loaned?
        </th>
    </tr>
    <% @games.each do |game| %>
        <tr>
            <td class="col-xs-1">
                <%= game.barcode %>
            </td>
            <td class="col-xs-3">
                <%= game.name %>
            </td>
            <td class="col-xs-3">
                <%= game.by %>
            </td>
            <td class="col-xs-2" style="text-align: center;">
                <% if game.tourney? %>
                    <span>Yes</span>
                <% end %>
            </td>
            <td class="col-xs-2" style="text-align: center;">
                <% if game.checked_out? %>
                    <%= ct(game.open_checkout.check_out_time).strftime('%m/%d %I:%M%P') %>
                <% end %>
            </td>
            <td class="col-xs-1" style="text-align: center;">
                <% if game.loaned? %>
                    <%= game.current_loan.group.name %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<%= will_paginate @games %>