<div class="row"><br/></div>
<div class="row">
    <div class="col-xs-6">
        <% unless @searchTitle.blank? and @searchPublisher.blank? %>
            <div>
                <span>
                    <%= (@searchTitle.blank? ? "Games" : @searchTitle) +
                        (@searchPublisher.blank? ? "" : " by " + @searchPublisher) %>
                </span>
                <a href="<%= games_path %>" class="glyphicon glyphicon-remove"></a>
            </div>
        <% end %>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="row"><br/></div>

<table class="table table-striped">
    <tr>
        <th class="col-xs-1">
            Barcode
        </th>
        <th class="col-xs-3">
            Title
        </th>
        <th class="col-xs-2">
            Publisher
        </th>
        <th class="col-xs-2" style="text-align: center;">
            Valuable <span class="glyphicon glyphicon-question-sign" data-h-tip="This field is a marker of whether a game is<br/>hard to replace,
            expensive, or likely used in tournaments."></span>
        </th>
        <th class="col-xs-2" style="text-align: center;">
            Checked Out @
        </th>
        <th class="col-xs-2" style="text-align: center;">
            Loaned To
        </th>
    </tr>
    <% @games.each do |game| %>
        <tr>
            <td class="col-xs-1">
                <%= game.barcode %>
            </td>
            <td class="col-xs-3">
                <%= game.name %>
            </td>
            <td class="col-xs-2">
                <%= game.by %>
            </td>
            <td class="col-xs-2" style="text-align: center;">
                <% if game.valuable? %>
                    <span>Yes</span>
                <% end %>
            </td>
            <td class="col-xs-2" style="text-align: center;">
                <% if game.checked_out? %>
                    <%= ct(game.open_checkout.check_out_time).strftime('%m/%d %I:%M%P') %>
                <% end %>
            </td>
            <td class="col-xs-2" style="text-align: center;">
                <% if game.loaned? %>
                    <a href="<%= group_path(game.current_loan.group) %>">
                        <%= game.current_loan.group.name %>
                    </a>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>

<%= will_paginate @games %>

<% if @games.empty? %>
<div class="row" style="text-align: center;">
    <b>No games found!</b>
    <div class="col-xs-12">
        <a id="suggestBtn" class="btn btn-default" style="margin: 5px;">
            Suggest adding this title to the library?
        </a>
    </div>
</div>
<% end %>

<script>
    $(document).ready(function(){
        $('[data-h-tip]').pTip();

        $('#suggestBtn').click(function() {
            $.ajax({
                url: '/suggest',
                method: 'post',
                data: {title: "<%= (@searchTitle.blank? ? "Games" : @searchTitle) +
                        (@searchPublisher.blank? ? "" : " by " + @searchPublisher) %>"},
                success: function (response) {
                    if (response.title) {
                        $.notify('Thanks for suggesting "' + response.title + '"!');
                    }
                }
            })
        });
    });
</script>