<tr class="edit-title-row" data-title-id="<%= @title.id %>">
    <td class="col-xs-4">
        <input type="text" class="form-control" name="title" placeholder="Title" value="<%= @title.title %>" />
    </td>
    <td class="col-xs-3">
        <select class="form-control" name="publisher_id">
            <% Publisher.active.each do |pub| %>
                <option <%= @title.publisher.id == pub.id ? 'selected' : nil %> value="<%= pub.id %>"><%= pub.name.force_encoding('utf-8') %></option>
            <% end %>
        </select>
    </td>
    <td class="col-xs-1"></td>
    <td class="col-xs-2">
        <select class="form-control" name="valuable">
            <option <%= @title.valuable ? 'selected' : nil %> value="true">Yes</option>
            <option <%= @title.valuable ? nil : 'selected' %> value="false">No</option>
        </select>
    </td>
    <td class="col-xs-2">
        <input type="button" class="btn btn-primary save-title-btn" value="Save" />
        <input type="button" class="btn btn-default cancel-title-btn" style="float:right;" value="Cancel" />
    </td>
</tr>