<% if @current_event.try(:is_last_day?) %>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 alert alert-info" style="text-align: center; margin: 5px 0;">
            Congratulations! You've made it to the last day of the show! Thank you for your hard work!
        </div>
    </div>
<% else %>
    <div class="row"><br/></div>
<% end %>

<nav class="row">
    <ul class="nav nav-tabs tt-nav-tabs">
        <li class="<%= 'active' if current_page?(root_path) %>"><a href="<%= root_path %>">Checkout & Return</a></li>
        <li class="<%= 'active' if current_page?(find_path) %>"><a href="<%= find_path %>">Find a Checkout</a></li>
        <li class="<%= 'active' if current_page?(games_path) %>"><a href="<%= games_path %>">Games List</a></li>
        <li class="<%= 'active' if params[:controller] == 'loaners' %>"><a href="<%= loaners_path %>">Loaners</a></li>
        <li class="<%= 'active' if params[:controller] == 'admin' %>"><a href="<%= admin_path %>">Admin</a></li>
    </ul>
</nav>

<div class="row"><br/></div>
